html, body {
	width:100%;
	height:100%;
	margin:0;
}
	  
#map {
	width: 100%;
    height: 75%;
    margin-bottom: 50px;
}

.fill { 
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    width: 100%; 
}

#wizardDiv {
  z-index:150;
  background-color:#000000;
  opacity: 0.6;
  position: fixed;
  left: 0%;
  top: 0%;
  height: 100%;
  margin-top: 0px;
  width: 100%;
  margin-left: 0px;
  visibility: hidden;
}

.leaflet-top .leaflet-control {
	margin-top: 50px;
}

#map:-webkit-full-screen { width: 100% !important; height: 100% !important; }
#map:-moz-full-screen { width: 100% !important; height: 100% !important; }
#map:full-screen { width: 100% !important; height: 100% !important; }

.carousel {
	margin-top: -45px;
}

.daterangepicker {
	z-index:1151;
}

.tdsuccess {
	background-color:#468847;
}

.tdwarning {
	background-color:#f89406;
}

.tderror {
	background-color:#b94a48;
}