html, body {
	width:100%;
	height:100%;
	margin:0;
}
	  
#map {
	width: 100%;
    height: 45%;
    margin-bottom: 50px;
}

.fill { 
    min-height: 100%;
    height: 100%;
    min-width: 100%;
    width: 100%; 
}

.leaflet-top .leaflet-control {
	margin-top: 50px;
}

#map:-webkit-full-screen { width: 100% !important; height: 100% !important; }
#map:-moz-full-screen { width: 100% !important; height: 100% !important; }
#map:full-screen { width: 100% !important; height: 100% !important; }